* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import './lib/fonts.scss';
@import './lib/colors.scss';
@import './lib/grid.scss';
@import './lib/reset.scss';
@import './lib/class.scss';


body {
    font-family: 'medium';
    letter-spacing: 0.02em;
}

.splide {
    
    &__pagination {
        bottom: -50px;
        button {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: lighten($purple, 20%);
            &.is-active {
                transform: scale(1);
                border: 2px solid $purple;
                background-color: #fff;
                width: 24px;
                height: 24px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    background-color: $purple;
                    border-radius: 50%;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}